@import "core/styles/_assets.scss";

.header {
	$h: &;
	position: fixed;
	top: 0;
	left: 0;
	z-index: zi(header);
	width: 100%;
	background-color: color(white);
	transition: all 0.4s ease;
}

.promo {
	background-color: color(primary);
	padding: 10px 0;
	text-align: center;
	color: color(white);
	&Text {
		margin-bottom: 0;
	}
	&Button {
		font-weight: bold;
		margin-left: 4px;
	}
}

.main {
	padding: 24px 0;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 24px;
}

.link {
	text-decoration: none;
	i {
		margin-left: 6px;
	}
}

.search {
	width: 576px;
}

.action {
	display: flex;
	align-items: center;
	gap: 12px;
}

.button {
	background-color: transparent;
	border: none;
	outline: none;
	padding: 4px;
	@include font-size(24);
}
